*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 56px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header div img{
    width: 40px;
    height: 40px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;

}
.logo img{
    width: 50px;
    height: 50px;
}
.logo a{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.search-bar input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 16px 0 0 16px;
    font-size: 16px;
}
.search-bar button img{
    width: 25px;
    height: 20px;
}
.search-bar button{
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
}
.search-bar button:hover{
    background-color: #a4a3a3;
}

aside{
    position: fixed;
    top: 56px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #ddd;
}
nav ul{
    list-style: none;
    padding: 20px 0;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
nav li{
    background-color: #eee;
    padding: 12px 20px;

    
}
nav li:hover{
    background-color: #ccc;
}

main{
    margin-top: 56px;
    margin-left: 200px;
    padding: 20px;;
}

.video-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
}
.video-card{
    background-color: #fff;
    cursor: pointer;
}

.thumbnail{
    width: 100%;
    border-radius: 10px;
}

.video-info{
    display: flex;
    padding: 10px;
    gap: 10px;
}
.channel-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.video-text h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

.video-text p {
  font-size: 12px;
  color: #555;
}

.video-text h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

.video-text p {
  font-size: 12px;
  color: #555;
}

@media (max-width:1024px){
    aside{
        width:72px;
    }
    main{
        margin-left: 72px;
    }
    nav li{
        text-align: center;
        padding: 12px 0;
    }
}

@media (max-width:768px){
    aside{
        display:none;
    }
    main{
        margin-left: 0;
    }
    header div:nth-child(2){
        width: 60%;
    }
    .video-grid{
        grid-template-columns: repeat(autofit,minmax(200px,1fr));
    }
}
nav li{
    min-height: 48px;
}

@media (max-width:768px){
    .video-text h3{
        font-size: 13px;
    }
    .video-text p{
        font-size: 11px;
    }
}