*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;

    background-color: #111;
    color: #fff;

    display: flex;
    align-items: center;
    padding-left: 20px;

    z-index: 100;

}

.layout{
    display: flex;
    margin-top: 60px;
}
.sidebar{
    width:200px;
    height: calc(100vh - 60px);
    background-color: #f4f4f4;
    position: sticky;
    top:60px;
}
.sidebar p{
    border-bottom: 2px solid #5f5e5e;
    padding: 15px;
    text-align: center;
}
.sidebar p:hover{
    background-color: #ddd;
    cursor: pointer;
}
.content{
    flex: 1;
    padding: 20px;
}

.card{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
}

.badge{
    position: absolute;
    top: 10px;
    right: 10px;

    background: crimson;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px
}